<script type="text/javascript" src='/js/Game.js'>
</script>
<main id='game-container'></main>
<a href="/level1" class='button'>Reset</a>
<span id='score-submit' class='hidden'><%= erb (:_submit) %></span>
