<form id='score-sheet' action='/submit' method='post'>
  <input type='text' name='name' placeholder='Enter Name'>
  <input class='timesJumped' type='hidden' name='timesJumped'>
  <input type='submit' value='submit score'>
</form>
